.login-bg{
    background: url('/images/login-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
.custom-login-form{
    margin-top: 10vh !important;
}
.sample{
    background-image: url('/storage/default/avatar-default.png');
}

img.thumbnail{
    object-fit: cover;
}

ul.custom-list, ul.custom-list-print{
    list-style-type: none;
}

/* .img-badge{
    margin-top: -2px;
} */

.account-name, .name-space{
    height: 50px;
}

a.create-item {
    margin-right: 5px;
}

.custom-rounded-btn{
    border-radius: 0.375rem !important;
    padding: 0px 5px !important;
}

.custom-management-contact{
    margin-left: 25px
}